# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
ieee_large_dataset.json
ieee_papers_dataset.json
non_ieee_papers.json
ieee_papers.json
all_papers.json
data/raw/papers_raw.json
